* /deep/ * {
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

* /deep/ a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: #000;
  margin: 0;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.likebox {
  position: absolute;
  right: 14px;
  top: 13px;
  z-index: 500;
}

.likebox .fb-like {
  top: -4px;
}

* /deep/ .number {
  font-family: 'font-tsar';
  font-size: 56px;
  line-height: 60px;
}

* /deep/ .subtitle {
  font-family: 'font-gotham';
  text-transform: uppercase;
  font-size: 26px;
  line-height: 0.95em;
}

* /deep/ .date {
  font-family: 'font-idlewild';
  text-transform: uppercase;
  font-size: 10px;
}

* /deep/ .sidlee {
  font-family: 'font-sidlee';
  text-transform: uppercase;
  font-size: 26px;
  word-spacing: -0.1em;
}

* /deep/ .hidden {
  opacity: 0;
}

@media screen and (max-width: 640px) {
  .likebox {
    right: auto;
    top: auto;
    left: 10px;
    bottom: 10px;
  }
}
