* /deep/ * {
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

* /deep/ a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background: #000;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.likebox {
  position: absolute;
  right: 14px;
  bottom: 136px;
  z-index: 500;
  display: none; /* warning: remove */;
}

.likebox .fb-like {
  top: -4px;
}

* /deep/ .number {
  font-family: 'font-tsar';
  font-size: 56px;
  line-height: 60px;
}

* /deep/ .subtitle {
  font-family: 'font-gotham';
  text-transform: uppercase;
  font-size: 26px;
  line-height: 0.95em;
}

* /deep/ .date {
  font-family: 'font-idlewild';
  text-transform: uppercase;
  font-size: 10px;
}

* /deep/ .sidlee {
  font-family: 'font-sidlee';
  text-transform: uppercase;
  font-size: 26px;
  word-spacing: -0.1em;
}

* /deep/ .hidden {
  opacity: 0;
}

.loader-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  /*transition: opacity .5s ease;*/
  z-index: 1000;
}

.loader-wrapper > .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 0 0 6px white;
  height: 40px;
  width: 40px;
}
.loader-wrapper > .loader:before, .loader-wrapper > .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: -21px 0 0 -21px;
  border-radius: 50%;
  z-index: 2;
  height: 42px;
  width: 42px;
}
.loader-wrapper > .loader:before {
  background-color: white;
  animation: expand 1.6s linear infinite both;
}
.loader-wrapper > .loader:after {
  background-color: black;
  animation: expand 1.6s linear 0.8s infinite both;
}
dashlee-dashboard.loading + .loader-wrapper {
  opacity: 1;
}

@keyframes expand {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}

@media screen and (max-width: 640px) {
  .likebox {
    right: auto;
    left: 10px;
    bottom: 10px;
  }
}
