:host {
  display: block;
}

.subtitle {
  position: absolute;
  bottom: 16px;
  width: 100%;
}

.number {
  position: absolute !important;
  width: 100%;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  height: 61px;
}

.circles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.circles .circle {
  border: 1px dashed white;
  position: absolute;
  animation: rotating 20s linear infinite;
/*  transition: all .7s ease;*/
}

.circles .circle:nth-child(even) {
  animation: rotating 20s linear infinite reverse;
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
