:host {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  text-align: center;
  z-index: 100000;
}

input {
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.clicker {
  display: none;
  background: url(../../images/button.svg) no-repeat;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-out;
}
input:checked + .clicker {
  display: block;
  transform: rotateZ(315deg);
}

:host-context(dashlee-stats) .clicker {
  display: block;
}
