:host {
  margin: 5px 0;
  display: block;
  position: relative;
}
.twolines {
  display: block;
  margin-bottom: -2px;
}
.tagline {
  font-family: 'font-tsar';
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  position: absolute;
  right: 44px;
  top: 11px;
  text-align: right;
}

@media screen and (max-width: 860px) {
  .tagline {
    position: relative;
    text-align: left;
    top: 0;
    left: 0;
    right: auto;
    margin: 4px 0 8px 0;
  }
}

.pulse {
  animation: pulse 1s ease 0s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: #333;
  }
  100% {
    color: #EEE;
  }
}
