:host {
  display: block;
}

.door {
  left: 25px;
  top: 1px;
  width: 120px;
  height: 188px;
  position: absolute;
  perspective: 700px;
  perspective-origin: 450% -120%;
  transition: all .5s ease;
}
.back {
  position: absolute;
  top: -3px;
  left: 7px;
  width: 118px;
  height: 186px;
  border: 1px solid white;
}
.back > .floor {
  position: relative;
  border-bottom: 1px solid white;
  height: 43px;
  text-align: center;
}
.back > .floor:first-child {
  border-top: 1px solid white;
  text-align: right;
  margin-top: 50px;
  height: 50px;
}
.back > .floor > .glass {
  position: relative;
  background-color: white;
  float: right;
  width: 14px;
  height: 28px;
  top: -28px;
  margin-right: 4px;
  animation-duration: 400ms;
  animation-delay: 100ms;
}
.back > .floor > .glass.empty {
  background-color: transparent;
  border: 1px solid white;
  animation-delay: 200ms;
}
.back > .floor > .handle {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 10px;
  border: 1px solid white;
  border-top: none;
  bottom: -37px;
}
.back > .floor > .bottle {
  position: absolute;
  bottom: 0;
  right: 6px;
  animation-duration: 600ms;
  animation-delay: 200ms;
}
.panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: 0% 0%;
  transition: transform .5s ease;
}
.front-panel {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.front-panel > .handle {
  position: absolute;
  top: 36px;
  right: 10px;
  width: 8px;
  height: 46px;
  border: 2px solid black;
  border-right: none;
  transform: rotateY(90deg);
  transition: all .5s ease;
}
.top-panel {
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: black;
  transform: rotateX(-90deg);
  transform-origin: 0% 0%;
  border-bottom: 2px solid white;
  border-left: 4px solid white;
}
.left-panel {
  position: absolute;
  background-color: black;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  width: 8px;
  height: 100%;
  transform: rotateY(90deg) translate3d(0, 0, 120px);
  transform-origin: 0% 0%;
}
.door.open .panel {
  transform: rotateY(-30deg) translateY(-1px);
}
.door.open .front-panel > .handle {
  border-width: 1px;
  transform: rotateY(90deg) translateX(-6px);
}

.door.open .object {
  animation-name: shake-rotate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes shake-rotate {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    transform: translate(0px, 0px) rotate(7.5deg);
  }
  4% {
    transform: translate(0px, 0px) rotate(-3.5deg);
  }
  6% {
    transform: translate(0px, 0px) rotate(-6.5deg);
  }
  8% {
    transform: translate(0px, 0px) rotate(-2.5deg);
  }
  10% {
    transform: translate(0px, 0px) rotate(2.5deg);
  }
  12% {
    transform: translate(0px, 0px) rotate(1.5deg);
  }
  14% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }
  16% {
    transform: translate(0px, 0px) rotate(-4.5deg);
  }
  18% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  20% {
    transform: translate(0px, 0px) rotate(3.5deg);
  }
  22% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }
  24% {
    transform: translate(0px, 0px) rotate(7.5deg);
  }
  26% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  28% {
    transform: translate(0px, 0px) rotate(-2.5deg);
  }
  30% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  32% {
    transform: translate(0px, 0px) rotate(-4.5deg);
  }
  34% {
    transform: translate(0px, 0px) rotate(-4.5deg);
  }
  36% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  38% {
    transform: translate(0px, 0px) rotate(7.5deg);
  }
  40% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  42% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  44% {
    transform: translate(0px, 0px) rotate(-0.5deg);
  }
  46% {
    transform: translate(0px, 0px) rotate(4.5deg);
  }
  48% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }
  50% {
    transform: translate(0px, 0px) rotate(4.5deg);
  }
  52% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  54% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  56% {
    transform: translate(0px, 0px) rotate(4.5deg);
  }
  58% {
    transform: translate(0px, 0px) rotate(-1.5deg);
  }
  60% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }
  62% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }
  64% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }
  66% {
    transform: translate(0px, 0px) rotate(-5.5deg);
  }
  68% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }
  70% {
    transform: translate(0px, 0px) rotate(1.5deg);
  }
  72% {
    transform: translate(0px, 0px) rotate(4.5deg);
  }
  74% {
    transform: translate(0px, 0px) rotate(7.5deg);
  }
  76% {
    transform: translate(0px, 0px) rotate(1.5deg);
  }
  78% {
    transform: translate(0px, 0px) rotate(2.5deg);
  }
  80% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }
  82% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }
  84% {
    transform: translate(0px, 0px) rotate(1.5deg);
  }
  86% {
    transform: translate(0px, 0px) rotate(2.5deg);
  }
  88% {
    transform: translate(0px, 0px) rotate(7.5deg);
  }
  90% {
    transform: translate(0px, 0px) rotate(-4.5deg);
  }
  92% {
    transform: translate(0px, 0px) rotate(-4.5deg);
  }
  94% {
    transform: translate(0px, 0px) rotate(-5.5deg);
  }
  96% {
    transform: translate(0px, 0px) rotate(6.5deg);
  }
  98% {
    transform: translate(0px, 0px) rotate(5.5deg);
  }
}
