:host {
  display: block;
  position: relative;
  width: 100%;
  height: 260px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transition: height .4s ease;
  background: black url(../../images/dot.gif) repeat 20px 20px;
  overflow: hidden;
  flex: 1 1 auto;
}

:host-context(.compact) {
  transition: none;
  border-left: none;
}

:host(.closed) {
  height: 0px;
}

:host-context(.compact):host(.closed) {
  border: none;
}

.content {
  padding: 10px 30px;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.loader-wrapper.loading {
  display: block;
}

.loader-wrapper.loading + .content {
  visibility: hidden;
}

.filters {
  width: 100%;
  height: 30px;
}


.filters .button {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  text-align: center;
  border: 2px solid white;
  border-radius: 6px;
  font-family: 'font-tsar';
  text-transform: uppercase;
  color: white;
  padding: 2px 0;
  font-size: 12px;
  cursor: pointer;
}

.filters .button:last-child {
  margin-right: 0;
}

.filters .button.active {
  color: black;
  background-color: white;
  cursor: default;
}

.ct-chart {
  position: relative;
  width: 100%;
  height: 210px;
}

.ct-chart .tooltip {
  font-family: 'font-tsar';
  font-size: 14px;
  color: white;
  border: 1px solid white;
  padding: 3px 6px;
  background-color: black;
  position: absolute;
  z-index: 1000;
}

.ct-chart .ct-label {
  display: block;
  fill: none;
  color: white;
  font-family: 'Idlewild SSm A', 'Idlewild SSm B';
  text-transform: uppercase;
  font-weight: 800;
  font-style: normal;
  font-size: 7px;
  width: 100%;
  height: 100%;
}

.ct-chart .ct-label.ct-horizontal {
  text-align: center;
}

.ct-chart .ct-label.ct-vertical {
  text-align: right;
}

.ct-chart .ct-bar {
  fill: none;
  stroke-width: 8px;
}

.ct-bar {
  stroke: white;
}

.ct-series.red .ct-bar  {
  stroke: #F66;
}

.ct-series.blue .ct-bar  {
  stroke: #7BA0FF;
}

:host-context(.invert) .ct-series.red .ct-bar {
  stroke: #009999;
}

:host-context(.invert) .ct-series.blue .ct-bar {
  stroke: #845F00;
}



@keyframes expand {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    z-index: 1;
  }
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 0 0 6px white;
  height: 40px;
  width: 40px;
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin: -21px 0 0 -21px;
  border-radius: 50%;
  z-index: 2;
  height: 42px;
  width: 42px;
}
.loader:before {
  background-color: white;
  animation: expand 1.6s linear infinite both;
}
.loader:after {
  background-color: black;
  animation: expand 1.6s linear 0.8s infinite both;
}
