:host {
  display: block;
}
.subtitle {
  position: absolute;
  bottom: 16px;
  width: 100%;
}
.number {
  position: absolute !important;
  width: 100%;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  height: 61px;
}
.tachometer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ii {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 290px;
  height: 145px;
  margin: auto;
}
.ii .dash {
  position: absolute;
  width: 100%;
  height: 290px;
}
.ii .dash b {
  position: absolute;
  left: 50%;
  display: block;
  width: 2px;
  height: 6px;
  margin: 0 -2px 0;
  background-color: white;
}
.ii .dash:nth-child(1) {
  transform: rotate(292deg);
}
.ii .dash:nth-child(2) {
  transform: rotate(315deg);
}
.ii .dash:nth-child(3) {
  transform: rotate(338deg);
}
.ii .dash:nth-child(4) {
  transform: rotate(0deg);
}
.ii .dash:nth-child(5) {
  transform: rotate(23deg);
}
.ii .dash:nth-child(6) {
  transform: rotate(45deg);
}
.ii .dash:nth-child(7) {
  transform: rotate(68deg);
}
.num {
  font-size: 20px;
  font-family: 'font-tsar';
  position: absolute;
  bottom: -8px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.num:last-child {
  right: 0;
}
.line {
  position: absolute;
  z-index: 2;
  bottom: -1px;
  width: 129px;
  height: 0;
  margin-left: 16px;
  transform-origin: 100% 1px;
  border-top: 2px solid white;
  background: white;
  transition: transform .3s easeout;
}
.dot {
  position: absolute;
  bottom: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  margin-left: 50%;
  border-radius: 5px;
  background: white;
}
