:host {
  display: block;
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  width: 22px;
  border-bottom: 4px solid white;
  animation-name: show;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

i.apple {
  display: inline-block;
  background: url(../../images/apple.svg) no-repeat;
  width: 19px;
  height: 23px;
  position: relative;
  top: 1px;
  margin-right: 2px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
}
