:host {
  display: block;
  width: 100%;
}

:host(.loading) {
  visibility: hidden;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  padding: 0 46px 0px 46px;
  background: #000;
  overflow: hidden;
}
.wrapper.compact {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.wrapper.compact dashlee-header, .wrapper.compact dashlee-footer {
  padding-left: 10px;
  padding-right: 10px;
}

:host(.not-android) .wrapper.invert {
  filter: invert(1);
}

.dashboard {
  width: 100%;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.wrapper.compact .dashboard {
  border: 2px solid white;
}

.dashboard > .item {
  position: relative;
  display: block;
  min-width: 180px;
  height: 260px;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  background: black url(../../images/dot.gif) repeat 20px 20px;
  flex: 1 1 auto;
}

.dashboard > .item.invert {
  filter: invert(1);
}

.dashboard > dashlee-light.item {
  background-color: black;
  background-image: none;
}

.wrapper.compact .dashboard > .item:last-child {
  border-bottom: none;
}

.dashboard > .item.invert {
  border-color: black;
}
.dashboard > .item.large {
  min-width: 360px;
  flex: 2 1 auto;
}

.wrapper.compact .dashboard > .item {
  min-width: initial;
  border-left: none;
  flex: none;
}

.wrapper.compact .dashboard > .item.large {
  min-width: initial;
  flex: none;
}

.dashboard > .item:hover /deep/ dashlee-stats-button /deep/ .clicker {
  display: block;
}


.dashboard > .item /deep/ .column {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

.dashboard > .item /deep/ .triangle {
  display: none;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  z-index: 10000;
}

.dashboard > .item /deep/ dashlee-stats-button[ischecked] + .triangle {
  display: block;
}


