:host {
  display: block;
}
.subtitle {
  position: absolute;
  bottom: 16px;
  left: -6px;
  width: 100%;
}
.printer {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 349px;
  height: 248px;
  margin: auto;
  background: url('../../images/printer.svg') no-repeat;
}
.paper {
  position: relative;
  top: 47px;
  left: 32px;
  overflow: hidden;
  width: 306px;
  height: 142px;
  transition: background-position-y 600ms linear;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: url('../../images/paper.png') repeat-y;
  background-position-y: 4px;
}
.numbers {
  position: absolute;
  top: -80px;
  right: 0;
  left: 0;
  height: 300px;
  margin: auto;
}
.number {
  line-height: 60px !important;
  position: absolute;
  width: 100%;
  height: 60px;
  transition: transform 600ms linear;
}
.number:first-child {
  transition: none;
}
.number:nth-child(2) {
  transform: translateY(60px);
}
.number:nth-child(3) {
  transform: translateY(120px);
}
.number:nth-child(4) {
  transform: translateY(180px);
}
.number:nth-child(5) {
  transform: translateY(240px);
}
