:host {
  display: block;
}
.hand {
  position: absolute;
  bottom: 20px;
  left: 0;
  background: url(../../images/hand.svg) center 0 no-repeat;
  height: 76px;
  width: 100%;
  transform-origin: 50% 100%;
}

.hand-curves {
  display: none;
  position: relative;
  left: 2px;
  top: -12px;
  height: 76px;
  background: url(../../images/hand_curves.svg) center 0 no-repeat;
}

.hand.shake {
  animation-name: shake;
  animation-duration: 600ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 0s;
}

.hand.shake > .hand-curves {
  display: block;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
